div.header{

  text-align: center;
 

}


body {
    background-color: rgb(168, 213, 255);
  }

  .borderline{
    
    
  }

  .izumigif{
    position: relative;
    left: 3%;
    
  }

  .kirikogif{
    border: 5px solid #75ffed;
    box-shadow: 10px 10px 5px ;
    border-radius: 25px;
    position: relative;
    bottom: 100px;
    left: 800px;
     width: 40%;
  }

  