.h1{
  text-align: center;
  margin-right: 50%;
}


body {
    background-color: rgb(168, 213, 255);
  }

  .borderline{
    border-right: 5px solid aqua;
    padding: -200px;
    height: 500px; 
    margin-right: 80%;
    
    
  }

  .izumigif{
    display: block;
    margin-left: 3%;
    
  }

  .kirikogif{
    display: block;
  margin-left: auto;
  margin-right: 30%;
  margin-bottom: 50%;
  width: 40%;
  }

  